<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AR5-5_07L-W4C4A2-S1">
  <!-- Constants for robot dimensions -->
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="Beige">
    <color rgba="1.0 0.784 0.5765 1.0"/>
  </material>
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="AR5-5_07L-W4C4A2-S1_base"/>
  </joint>
  <!--base-->
  <link name="AR5-5_07L-W4C4A2-S1_base">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="2.66"/>
      <inertia ixx="0.00484214" ixy="0.00000117" ixz="-0.00000044" iyy="0.00444297" iyz="-0.00000074" izz="0.00427071"/>
      <origin rpy="0 0 0" xyz="1.6e-05 -0.0006979999999999999 0.168185"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_1" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_base"/>
    <child link="AR5-5_07L-W4C4A2-S1_link1"/>
    <limit effort="108" lower="-3.1067" upper="3.1067" velocity="3.490658503988659"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
  </joint>
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="AR5-5_07L-W4C4A2-S1_joint_8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 1-->
  <link name="AR5-5_07L-W4C4A2-S1_link1">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="2.66"/>
      <inertia ixx="0.00484214" ixy="0.00000117" ixz="-0.00000044" iyy="0.00444297" iyz="-0.00000074" izz="0.00427071"/>
      <origin rpy="0 0 0" xyz="1.6e-05 -0.0006979999999999999 0.168185"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_2" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_link1"/>
    <child link="AR5-5_07L-W4C4A2-S1_link2"/>
    <limit effort="108" lower="-2.0944" upper="2.0944" velocity="3.490658503988659"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1745"/>
  </joint>
  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 2-->
  <link name="AR5-5_07L-W4C4A2-S1_link2">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="2.3"/>
      <inertia ixx="0.01155422" ixy="0.00000028" ixz="-0.00000103" iyy="0.00995119" iyz="0.00083831" izz="0.00437076"/>
      <origin rpy="0 0 0" xyz="4.4999999999999996e-05 -0.002985 0.102801"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_3" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_link2"/>
    <child link="AR5-5_07L-W4C4A2-S1_link3"/>
    <limit effort="66" lower="-3.1067" upper="3.1067" velocity="4.71238898038469"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.314"/>
  </joint>
  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 3-->
  <link name="AR5-5_07L-W4C4A2-S1_link3">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="1.8"/>
      <inertia ixx="0.00478231" ixy="0.00001317" ixz="0.00033105" iyy="0.00432575" iyz="0.00002132" izz="0.00254969"/>
      <origin rpy="0 0 0" xyz="0.0073 -0.001371 -0.01502"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_4" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_link3"/>
    <child link="AR5-5_07L-W4C4A2-S1_link4"/>
    <limit effort="66" lower="-1.0472" upper="2.5307" velocity="5.235987755982989"/>
    <!--     lower="-1.0472" upper="1.0472" -->
    <axis xyz="0 1 0"/>
    <!--     <origin rpy="0 0 0" xyz=0.0105 0.0 0.0/> -->
    <origin rpy="0 0 0" xyz="0.0105 0.0 0.0"/>
  </joint>
  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 4-->
  <link name="AR5-5_07L-W4C4A2-S1_link4">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link4.stl" scale=".001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="1.13"/>
      <inertia ixx="0.00352152" ixy="-0.00002411" ixz="-0.00015046" iyy="0.00266275" iyz="0.00025447" izz="0.00186915"/>
      <origin rpy="0 0 0" xyz="-0.007816 -0.002536 0.066782"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_5" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_link4"/>
    <child link="AR5-5_07L-W4C4A2-S1_link5"/>
    <limit effort="19" lower="-3.1067" upper="3.1067" velocity="4.1887902047863905"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="-0.0105 0.0 0.26"/>
  </joint>
  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 5-->
  <link name="AR5-5_07L-W4C4A2-S1_link5">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="1.19"/>
      <inertia ixx="0.00238316" ixy="0.00001280" ixz="0.00001311" iyy="0.00195453" iyz="0.00001458" izz="0.00149979"/>
      <origin rpy="0 0 0" xyz="0.00023400000000000002 0.002477 -0.08120000000000001"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_6" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_link5"/>
    <child link="AR5-5_07L-W4C4A2-S1_link6"/>
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0"/>
  </joint>
  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 6-->
  <link name="AR5-5_07L-W4C4A2-S1_link6">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.82"/>
      <inertia ixx="0.00060715" ixy="-0.00000829" ixz="0.00000078" iyy="0.00065671" iyz="0.00000017" izz="0.00066165"/>
      <origin rpy="0 0 0" xyz="0.0072039999999999995 0.0007149999999999999 -4e-05"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_joint_7" type="revolute">
    <parent link="AR5-5_07L-W4C4A2-S1_link6"/>
    <child link="AR5-5_07L-W4C4A2-S1_link7"/>
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905"/>
    <axis xyz="1 0 0"/>
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0"/>
  </joint>
  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!--link 7-->
  <link name="AR5-5_07L-W4C4A2-S1_link7">
    <visual>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link7.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.32"/>
      <inertia ixx="0.00043581" ixy="0.00000007" ixz="0.00001201" iyy="0.00067064" iyz="0.00000188" izz="0.00041740"/>
      <origin rpy="0 0 0" xyz="-0.002337 0.000307 0.051645"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="package://AR5-5_07L-W4C4A2-S1_description/meshes/AR5-5_07L-W4C4A2-S1_link7.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>
  <joint name="AR5-5_07L-W4C4A2-S1_tcp_joint" type="fixed">
    <parent link="AR5-5_07L-W4C4A2-S1_link7"/>
    <child link="AR5-5_07L-W4C4A2-S1_tcp"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.092"/>
  </joint>

  <!-- TCP坐标系link -->
  <link name="AR5-5_07L-W4C4A2-S1_tcp">
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
</robot>
