[Unit]
Description=Wuyou ROS2 Camera Autostart
After=network.target
Wants=network.target

[Service]
Type=simple
User=wuyou
Group=wuyou
CPUSchedulingPriority=90
LimitRTPRIO=90
WorkingDirectory=/home/wuyou/Desktop/sw495/workspace
Environment=ROS_DOMAIN_ID=28
TimeoutStartSec=0
TimeoutStopSec=10
KillMode=control-group
SendSIGKILL=no
ExecStart=/bin/bash /home/wuyou/Desktop/sw495/workspace/ros2_scripts/run.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
